# TaskfileConfig
RUNNER=podman
# Or you can use
# RUNNER=docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=quotes
POSTGRES_PORT=5432
SERVER_HOST="0.0.0.0"
SERVER_PORT=1140

# ServerConfig
SERVER="fastapi" # [fastapi, flask]

# PostgresConfig
POSTGRES_ORM="sqlalchemy" # [sqlalchemy, peewee]
POSTGRES_DSN="postgresql://postgres:postgres@localhost:5432/quotes"

# QuotesConfig
RANDOM_QUOTE_CHANCE=20
